@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main: #089BAB;
  --color-main-light: #78C9CD;
  --color-dark-theme: #1f1f1f;
  --color-dark-primary: #2f2f2f;
  --color-light-theme: #fff;
  --color-light-primary: #ffffff;
  --color-light-secondary: #e5e5e5;
  --color-dark-secondary: #3b3b3b;
  /* default border colors */
  --color-light-default: #e5e5e5;
  --color-dark-default: #3b3b3b;
  /* main text colors */
  --color-light-main: #000;
  --color-dark-main: #fff;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #089aaa;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  border-color: #74e1ed;
  animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}